body{
  background: no-repeat;
  background-image: url('https://lh5.ggpht.com/w8vlt89U83TIzbDNDRdGBmFh3kS9wJthH3l8awOXRIx-CRSZ8aKtubFip8O7Mz7nABk=h900');
}

.circle {
  height: 400px;
  width: 400px;
  background-color: #000;
  border: 4px solid grey;
  border-radius: 200px;
}

.center{
	position: absolute;
  top:140px;
  left: 135px;
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 61px;
}